.azeret-mono-<uniquifier> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* Shared */
.main {
    max-width: 1140px;
    margin: 0px auto;
}

.container-title {
    font-size: 32px;
    font-weight: 900px;
    text-align: center;
    font-family: "Azeret Mono", monospace;
}

.container-discription {
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 1);
    text-align: center;

}




/* Nav Design */

.nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 10px 200px;
}

.nav-resume {
    height: 60px;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    font-family:"Azeret Mono", monospace;
    color: #0D1321;
}


.nav-title {
    font-size: 35px;
    font-family: "Azeret Mono", monospace;
}


/* Header Design */
.header {
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    padding: 30px 230px;
    font-family: "Azeret Mono", monospace;
}


.header-title {
    font-size: 48px;
    font-weight: 900px;
}


.header-discription {
    font-size: 26px;
    color: #0D1321;
    margin: 24px 70px;
}

.header-button {
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    color: white;
    padding: 21px 24px;
    margin: 26px 221px 45px;
    border-radius: 8px;
    font-family: "Azeret Mono", monospace;
}



/* Why Web Design Container */
.web-dev-container{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 140px;
}


/* Web Design Section */

.web-dev-section1 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 50px;
    background-color: white;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(13, 19, 33, 0.02));
    border-radius: 16px;
}


.web-dev-section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 50px;
    background-color: white;
    background-image: linear-gradient(to right, rgb(13, 19, 33, 0.02), rgb(255, 255, 255) );
    border-radius: 16px;
}


.web-dev-section3 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 50px;
    background-color: white;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(13, 19, 33, 0.02));
    border-radius: 16px;
}

.web-dev-section-title {
    font-size: 24px;
    font-weight: 800px;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.7);
}

.web-dev-section-discription {
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 1);
}

.web-dev-section-btn {
    font-size: 20px;
    font-weight: 600px;
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    font-family: "Azeret Mono", monospace;
}


/* My Inspration */

.inspiration {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ins-video {
    padding: 32px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 16px;
    margin-top: 60px;
}

.video-play {
    border-radius: 16px;
}



/* Target Section */


.target-icon {
    display: flex;
    margin-bottom: 100px;
    margin-top: 60px;
    gap: 24px;
}


.target-icon-html {
    background-color: rgba(255, 76, 30, 0.05);
    padding: 30px;
}

.target-icon-css {
    background-color: rgba(0, 76, 232, 0.05);
    padding: 30px;
}

.target-icon-javascript {
    background-color: rgba(255, 223, 0, 0.05);
    padding: 30px;
}



.target-icon-title {
    font-size: 24px;
    font-weight: 900px;
    font-family:"Azeret Mono", monospace;
    color: rgba(13, 19, 33, 1);
}


.target-icon-discription {
    font-size: 16px;
    font-family:"Azeret Mono", monospace;
    color: rgba(13, 19, 33, 1);
}

.target-icon-button {
    font-size: 16px;
    font-weight: bolder;
    font-family:"Azeret Mono", monospace;
    color: rgba(13, 19, 33, 1);
}



/* Support */

.support {
    background-image: url(../assets/handshake.jpg);
    margin-bottom: 100px;
    padding: 60px;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}


.support-title {
    font-size: 32px;
    font-weight: 900px;
    text-align: center;
    color: #ffffff;
    font-family: "Azeret Mono", monospace;
}


.support-discription {
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color: #ffffff;
    text-align: center;

}

.input-text {
    height: 40px;
    width: 550px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family:"Azeret Mono", monospace;
}

.submit-btn {
    height: 60px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family:"Azeret Mono", monospace;
    color: #0D1321;
}

.support-from {
    text-align: center;
}


/* Footer */
.footer-page {
    background-color: rgba(13, 19, 33, 0.03);
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}